.git
cmake-build-debug/
cmake-build-debug

# Latex compile files
*.aux
*.lof
*.log
*.lot
*.synctex.gz
*.toc

# All vtk mesh files
*.vtu
*.pvtu

# python files
\.DS_Store
._.DS_Store
*.pyc
*.pmesh

*-private.sh

#Scratch directory
scratch/

#general data files
*.data

#vscode stuff
.vscode
.idea

#build stuff
bin
build
chi_build
cmake-build-release/
cmake-build-debug/
Makefile

#video files
*.avi
*.mp4

ZRawOutput.png
ZRawOutput.txt

/*_t*.txt
/*_t*.png
/*.gif